html{
    background-color: #1c1a33;
    font-family: "Microsoft Times New Roman";
    font-style: italic;
    color: white;
}

/* Style for the sticky menu */
.sticky-menu {
    position: fixed;
    left: 90px;
    top: 100px;
    font-size: 20px;
    /* background-color: white; */
}



p{
    font-size: 50px;
}

#section{
    padding-left: 100px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}



button{
    border:1px solid white;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    background-color: #1c1a33;
    font-family: "Microsoft New Tai Lue";
    font-style: italic;

}


button:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

button:hover {
    color: #ff0565;
    background-color: transparent;
  }

p{
    font-size: 100px;
}

#output {
    font-size: 20px;
}

table#output {
    border-collapse: collapse;

}

#output .modified-prevLet {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block; 
    font-size: 30px;
}

#output .modified-prevLet-bot {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    display: block; 
    font-size: 30px;
}


.sticky-menu table button {
    border: none;
    outline: none;
    padding:none;
}
